<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t('.title'), '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">


          <li><%= link_to t('.home'),    root_path %></li>
          <% if session[:user_id] %>


        <li><%= link_to t('.orders'),   orders_path   %></li>
        <li><%= link_to t('.products'), products_path %></li>
        <li><%= link_to t('.users'),    users_path    %>

        </li>

        <li><%= button_to 'Logout', logout_path, :method => :delete , :class => 'btn btn-danger'  %></li>
      <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>